.noOfferContainer {
  max-width: 540px;
}
.noOfferTitle {
  font-size: 24px;
  font-weight: 300;
  margin-bottom: var(--s12);
}
.noOfferText {
  color: var(--white-muted);
  margin-bottom: var(--s32);
}
.container {
  max-width: 640px;
}
.title {
  font-size: 24px;
  font-weight: 300;
  margin-bottom: var(--s8);
}
.text {
  color: var(--white-muted);
  margin-bottom: var(--s40);
}
